body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0px;
}

header ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    padding: 0.9375rem 3.75rem;
}
header {
    position: absolute; /* makes it noclippable */
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    margin: 10px
}

header ul {
    display: flex;
}

li a {
    padding: 10px;
    text-decoration: none;
    font: 'DM Sans', sans-serif;
}

#page-logo a, #page-logo a:hover {
    padding: 20px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: rgb(38, 162, 137);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

header li {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-left: 20px;
    background-color: rgba(39, 39, 39, 0.83);
    border-radius: 10px;
}

header .other-pages {
    color: rgb(38, 162, 137);
    font-family: 'Black Han Sans', sans-serif;
}

header li:hover {
    background-color: rgba(111, 177, 144, 0.83);
}    

header li:hover a {
    color: rgb(242, 232, 200);
}

.menu-btn {
    display: none;
}
#side-drawer {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

#side-drawer:target {
    display: block;
}

#side-drawer:target header {
    justify-content: right;
    margin: 0px;
    padding: 10px;
}

#side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 4rem 2rem;
}

#side-drawer a {
    color: rgb(242, 232, 200);
    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem;
}

#side-drawer li {
    margin: 1rem;
}


footer {
    height: 60px;
    padding: 5px;
    background: linear-gradient(70deg, rgb(24,24,24), rgb(25,29,29));
}

footer li {
    height: 100%;
    width: 24px;
    margin: 5px 10px;
}

footer ul {
    height: 24px;
    list-style: none;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    display: flex;
    justify-content: left;
}

footer img {
    height: 100%;
    width: 100%;
    vertical-align: bottom;
}

footer a {
    padding: 0px;

}

#cc {
    width: 100%;
}

#cc  {
    color: rgb(242, 232, 200);
    font-size: 15px;
}

ul {
    list-style: none;
}

@media (max-width: 48rem) {

#page-logo a, #page-logo a:hover {
    padding: 1.25rem;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: rgb(38, 162, 137);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

nav {
    display: none;
}

}

@media (max-width: 57rem) {
.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
}

.menu-btn span {
    width: 100%;
    height: 3px;
    background-color: rgb(255,255,255);
}
nav {
    display: none;
}
}

#side-drawer:target nav {
    display: block;
}

#side-drawer:target .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
    margin-top: 8px;
}

#side-drawer:target .menu-btn span {
    width: 100%;
    height: 3px;
    background-color: rgb(255,255,255);
}