body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0px;
}

header ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    padding: 15px 60px;
}
header {
    position: absolute; /* makes it noclippable */
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    margin: 10px
}

header ul {
    display: flex;
}

li a {
    padding: 10px;
    text-decoration: none;
    font: 'DM Sans', sans-serif;
}

#page-logo a, #page-logo a:hover {
    padding: 20px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: rgb(38, 162, 137);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

header li {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-left: 20px;
    background-color: rgba(39, 39, 39, 0.83);
    border-radius: 10px;
}

header .other-pages {
    color: rgb(38, 162, 137);
    font-family: 'Black Han Sans', sans-serif;
}

header li:hover {
    background-color: rgba(111, 177, 144, 0.83);
}    

header li:hover a {
    color: rgb(242, 232, 200);
}

footer {
    height: 60px;
    padding: 5px;
    background: linear-gradient(70deg, rgb(24,24,24), rgb(25,29,29));
}

footer li {
    height: 100%;
    width: 24px;
    margin: 5px 10px;
}

footer ul {
    height: 24px;
    list-style: none;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    display: flex;
    justify-content: left;
}

footer img {
    height: 100%;
    width: 100%;
    vertical-align: bottom;
}

footer a {
    padding: 0px;

}

#cc {
    width: 100%;
}

#cc  {
    color: rgb(242, 232, 200);
    font-size: 15px;
}

ul {
    list-style: none;
}
