#main-image {
    height: 100%;
    background-image: url("/images/index-images/index-pic.JPG");
    background-size: cover;
    background-position: center;
    position: static;
    overflow: auto;
}



#main-block {
    width: 50%;
    background-color: rgba(56, 51, 51, 0.8);
    box-shadow: 3px 4px 8px rgba(68,67,67);
    border-radius: 4px;
    text-align: center;
    padding: 45px 0px;
    margin: 13% auto 4% auto;
}

#main-block h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
    margin: 5px;
    text-transform: uppercase;
    color: rgb(233, 177, 67);
    text-shadow: 4px 4px 1px rgb(0,0,0);
}

#main-block p {
    color: rgb(255,255,255);
    font-family: 'Gentium Plus', serif;
    text-shadow: 2px 2px 4px rgb(0,0,0);
    width: 50%;
    margin: 10px auto;
}

#main-block a {
    text-decoration: none;
    font-size: 25px;
    color:rgb(223, 213, 193);
    padding: 20px;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    background-color: rgba(159, 120, 42, 0.9);
    border-radius: 10px;
}

#main-block a:hover {
    background-color:rgba(179, 140, 62, 0.9);
}

#separator-tag {
    text-align: center;
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
    color:rgba(241, 237, 229, 0.849);
    text-shadow: 2px 2px 2px rgb(0,0,0);
}

#highlights {
    margin: 4% auto 4% auto;
    width: 85%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 510px;
}

.supporting-blocks {
    width: 23%;
    background-color: rgba(56, 51, 51, 0.7);
    padding: 5px 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow: auto;

}

.supporting-blocks h3
{
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: rgb(242, 232, 200);
    text-shadow: 2px 1px 2px rgb(0,0,0);
}

.supporting-blocks h4 {
    color: rgb(208, 174, 106);
}

.category {
    font-style: italic;
    text-decoration: underline;
}

.supp-images {
    width: 60%;
    height: 20%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(0,0,0);
    object-fit: cover;
}

.supporting-blocks p {
    color: rgb(239, 233, 211);
    text-shadow: 1px 1px 1px rgb(0,0,0);
}


@media (max-width: 48rem) {
    #highlights {
        flex-direction: column;
        height: 1200px;
        align-items: center;
    }
    .supporting-blocks {
        width: 60%;
        height: 60%;
    }
    #main-block {
        width: 85%;
    }
}
