body {
    background: linear-gradient(30deg, rgb(77,77,77), rgb(58,58,58));
}
header {
    position: static;
}

main ul {
    display: grid;
    width: 75%;
    margin: 0px auto 3rem auto;
    padding: 0px;
    grid-template-columns: 1fr 1fr;
    gap: 3.125rem 6.25rem;
}

li:nth-of-type(3), li:nth-of-type(6) {
    grid-column: 1 / span 2;
}

main li img {
    width: 37.5%;
    height: 100%;
    object-fit: cover;
    
}

main li {
    height: 18.75rem;
    overflow: hidden;
    display: flex;
    background-color: rgb(255,255,255);
    box-shadow: 3px 3px 5px rgb(0,0,0,0.2);
    border-radius: 5px;

}

.header-paragraph h2 {
    color: rgb(19, 19, 19);
    font-family: 'Fira Sans', sans-serif;
}

.header-paragraph p {
    color: rgb(60, 60, 60);
    font-family: 'DM Sans', sans-serif;
}

.category-content {
    font-size: 1.02vw;
    width: 62.5%;
    padding: 1.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.header-paragraph > p{
    color: rgb(99, 99, 99);
}

.header-paragraph h2 {
    color: rgb(38, 38, 38);
    font-family: 'Arvo', sans-serif;
    font-size: 1.33rem;
}

.actions {
    text-align: right;
}
.actions a {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    color: rgb(49, 150, 119);
    padding: 0.625rem 0.5rem 0.625rem 0.6875rem;
}

.actions a:hover{
    color: rgb(191, 218, 210);
    background-color: rgb(30, 118, 92);
    border-radius: 20px;
    
}

@media (max-width: 48rem) {
    main ul {
        grid-template-columns: 1fr;
        gap: 3.125rem 0rem;
    }

    li:nth-of-type(3), li:nth-of-type(6) {
        grid-column: 1 / span 1;
    }

    main li img {
        width: 50.5%;
        height: 120%;
        object-fit: cover;
    }
    .category-content {
        width: 45.5%;
        padding: 1.5rem;
        display: flex;
        overflow: auto;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        font-size: 1.9vw;
    }

}

@media (max-width: 53.75rem) {
    nav {
        display: none;
    }
}